body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/index.jpeg");
    background-size: 1920px 1080px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 50%;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
#tit{
    height: 75px;
    width: 100px;
    background-color: black;
    border-radius: 100%;
    color: white;
    display: flex;
    align-items: center;
}
#lista ul li a{
    text-decoration: none;
}
#lista ul{
    list-style: none;
}
#tit p {
    padding-left: 40px;
}
#lista {
    height: 40px;
    margin: 0px;
}
#lista ul {
    list-style: none;
    display: flex;
    height: 40px;
    margin: 0px;
    padding-left: 0px;
}
#lista ul li {
    display: flex;
    height: 40px;
    align-items: center;
    margin-left: 10px;
    background-color: rgb(109, 205, 243);
    border-radius: 45%;
}
#lista ul li:hover{
    background-color: rgb(70, 68, 71);
}
#lista ul li a {
    text-decoration: none;
    height: 35px;
    color: white;
    padding-top: 15px;
}
h1{
    margin: 0%;
}
#postimages{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 280px;
    background-color: gray;
}
#postimages div img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 20px;
}
#postimages div p{
    text-align: center;
    font-family: Impact;
    font-size: 18px;
    margin-top: 12px;
}
#icos{
    display: flex;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.instagram{
    color: rgb(175, 45, 67);
    background-color: white;
    margin-right: 3px;
    height: 28px;
    width: 28px;
}
.facebook{
    color: rgb(59, 59, 231);
    margin-right: 3px;
}
.twitter{
    color: lightskyblue;
    margin-right: 3px;
}
.flickr{
    color: white;
    background: linear-gradient(to right, blue,red);
    margin-right: 3px;
    height: 27px;
}
.snapchat{
    color: yellow;
    background-color: white;
    margin-right: 3px;
    height: 27px;
}
#footer{
    margin-top: 30px;
    font-size: 10px;
    text-align: center;
}
