h1 {
    text-align: center;
}
nav {
    margin: 0 5% 0 5%;
}
img {
    width: 100%;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(71, 65, 65);
    color: whitesmoke;
    margin: 0;
    padding: 0%;
}
nav ul li {
    border-left: 1px solid black;
    padding: 12px;
}
nav li:last-of-type{
    border-right: 1px solid black;
}
#via{
    color: cornflowerblue;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.imgs {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    margin: 0% 15% 0% 15%;
    text-align: center;
    font-style: italic;
}
.img{
    margin: 5%;
}
.img a:hover {
    opacity: 30%;
}
#txt {
    margin: 0% 35% 0% 35%;
    text-align: center;
}
#but {
    background-color: rgb(71, 65, 65);
    color: whitesmoke;
    padding: 12px;
    border-radius: 20%;
    border-color: rgb(71,65,65);
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
}
#a {
    display: flex;
    justify-content: center;
    margin: 2% 45% 2% 45%;
    text-decoration: none;
}
#but:hover {
    opacity: 30%;
}
hr {
    margin: 0% 8% 0% 8%;
}
.bot {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 2%;
}
#links a:any-link {
    color: whitesmoke;
    text-decoration: none;
}
.lin a:any-link {
    color: black;
    text-decoration: none;
}